* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Comic Sans MS";
}


h1 {
    text-align: center;
    margin: 30px;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 30%;
    }

    #chicken {
        margin-left: 2.5%;
    }
    #beef {
        margin-left: 2.5%;
    }
    #sushi {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 46.25%;
    }
    #chicken {
        margin-left: 2.5%;
    }
    #beef {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .col-md-12 {
        width: 95%;
    }
    #sushi {
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 95%;
    }
    #chicken, #beef, #sushi {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

.box {
    border: 2px solid black;
    margin: 0 0 25px 0;
    padding: 0;
    background-color: lightgrey;
    position: relative;
}

h2 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 2px;
    text-align: center;
    width: 100px;
    position: absolute;
    right: 0px;
    top: 0px;

}

p {
    margin-top: 40px;
    padding: 10px;
}


#chicken-title {
    background-color: #ffa100;
}

#beef-title {
    background-color: #c76150;
    color: white;
}

#sushi-title {
    background-color: mediumpurple;
}

